.firtstcard {
    color: #dd3131;
}

.secondcard {
    color: #0000ff;
}

.thirdcard {
    color: chartreuse;
}

a {
    text-decoration: none;
}
h3 {
    color:green;
}

h2 {
    color: black;
}
.grid-3-columns {
    margin: 5rem auto;
    width: min(90%, 75rem);
    display: grid;
    grid-template-columns: 33% 33% 33%;}
   

