h2 {
    color:#DD3131
}

ul {
    color:#501212}
   
p {
    color:#2A77AA
}

footer {
    color:#9400d3
}

.firtstcard {
    color:#0000ff
}

.secondcard {
    color:#0000ff
}

.thirdcard {
    color:#0000ff
}
a {
    text-decoration: none;}